<%# Student Edit Modal %>
<div class="modal fade" id="edit_student" tabindex="-1" role="dialog" aria-labelledby="editStudent">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit <b><%= @student.name %>'s</b> Details</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@klass, @section, @student], remote: true, html: {id: "edit-student-form"} do |f| %>
        <%= f.input :name %>
        <%= f.input :fathers_name %>
        <%= f.input :gender, collection: Student::Gender.all, include_blank: false, label_method: :label, value_method: :code %>
        <%= f.input :house_id, collection: House.all, include_blank: false, label_method: :name, value_method: :id %>
        <%= f.input :email %>
        <%= f.input :dob, as: :date, html5: true %>
        <%= f.input :phone %>
        <%= f.input :address %>
        <%= f.submit "Submit Changes", class: "btn btn-danger col-sm-offset-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
