<div id="school-board" class="container-fluid">
  <h1>CodeTillYouErode | JAX'd</h1>
  <div class="row">
    <div id="klasses" class="col-md-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <a class="pull-right" data-toggle="modal" data-target="#new_klass" href="#">
            <%= fa_icon "plus-circle" %>
          </a>
          <b>Classes</b>
        </div>
          <div id="klasses-list" class="list-group">
            <%= render @klasses %>
          </div>
      </div>
    </div>
    <div id="sections" class="col-md-2 hidden">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <%= link_to fa_icon("plus-circle"), "#",  class: "pull-right", remote: true %>
          <b>Sections</b>
        </div>
        <div id="sections-list" class="list-group">
        </div>
      </div>
    </div>
    <div id="students" class="col-md-4 hidden">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <%= link_to fa_icon("plus-circle"), "#",  class: "pull-right", remote: true %>
          <b>Students</b>
        </div>
        <div id="students-list" class="list-group">
        </div>
      </div>
    </div>
    <div id="student" class="col-md-4 hidden">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <b>Student Details</b>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>


<%= render partial: 'klasses/form' %>
<%#@= render partial: 'sections/form' %>
